PORT=4030
LOG_LEVEL=info
AZURE_SPEECH_KEY=your_azure_speech_key
AZURE_SPEECH_REGION=your_azure_speech_region
AZURE_SPEECH_RECOGNITION_LANGUAGE=en-US
AZURE_SPEECH_VOICE_NAME=en-US-JennyNeural
AZURE_SPEECH_TTS_FORMAT=audio-16khz-32kbitrate-mono-mp3
ASSISTANT_TEXT_ENDPOINT=
ASSISTANT_TEXT_FIELD=text
ASSISTANT_RESPONSE_FIELD=text
